.citizenPageFrame {
  @media (max-width: $mantine-breakpoint-xs) {
    width: 95%;
  }
  @media (max-width: $mantine-breakpoint-sm) {
    width: 90%;
  }
  @media (max-width: $mantine-breakpoint-md) {
    width: 80%;
  }
  @media (max-width: $mantine-breakpoint-lg) {
    width: 80%;
  }
  @media (min-width: $mantine-breakpoint-lg) and (max-width: $mantine-breakpoint-xl) {
    width: 70%;
  }
  @media (min-width: $mantine-breakpoint-xl) {
    width: 60%;
  }

  border: 1px solid red;
  color: light-dark(var(--mantine-color-black), var(--mantine-color-white));
  font-size: rem(25px);

  display: flex;
  flex-direction: column;
  align-items: center;
  height: 100%;
}
