.choosePrefsWithButtons {
  color: light-dark(var(--mantine-color-black), var(--mantine-color-white));
  display: flex;
  flex-direction: column;
  align-items: center;

  .searchInput {
    width: 100%;

    /* Auto layout */
    align-items: flex-start;
    padding: 0px;
    gap: 4px;

    height: rem(44px);

    /* Inside auto layout */
    flex: none;
    flex-grow: 0;
  }

  .prefButtons {
    display: flex;
    flex-direction: row;
    justify-items: left;
    /* width: 100%; */
    flex-wrap: wrap;

    .prefButton {
      margin-left: 10px;
      margin-top: 10px;
    }
  }
}
